@charset "utf-8";

@font-face{
	font-family:'bonL';
	src:url('font/NotoSans-Light.eot'),
    url('font/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
    url('font/NotoSans-Light.otf') format('opentype'),
	url('font/NotoSans-Light.woff') format('woff'),
	url('font/NotoSans-Light.woff2') format('woff'),
    local(※);
}
@font-face{
	font-family:'bonDL';
	src:url('font/NotoSans-DemiLight.eot'),
    url('font/NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'),
    url('font/NotoSans-DemiLight.otf') format('opentype'),
	url('font/NotoSans-DemiLight.woff') format('woff'),
	url('font/NotoSans-DemiLight.woff2') format('woff'),
    local(※);
}
@font-face{
	font-family:'bonR';
	src:url('font/NotoSans-Regular.eot'),
    url('font/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('font/NotoSans-Regular.otf') format('opentype'),
	url('font/NotoSans-Regular.woff') format('woff'),
	url('font/NotoSans-Regular.woff2') format('woff'),
    local(※);
}
@font-face{
	font-family:'bonM';
	src:url('font/NotoSans-Medium.eot'),
    url('font/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('font/NotoSans-Medium.otf') format('opentype'),
	url('font/NotoSans-Medium.woff') format('woff'),
	url('font/NotoSans-Medium.woff2') format('woff'),
    local(※);
}

@font-face {
 font-family: 'NanumSquare';
 font-weight: 700;
 src: url(font/NanumSquareB.eot);
 src: url(font/NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(font/NanumSquareB.woff) format('woff'),
      url(font/NanumSquareB.ttf) format('truetype');
}

@font-face{
	font-family:'CerebriSansProI';
	src:url('font/CerebriSansPro-Italic.otf') format('opentype'),
    url('font/CerebriSansPro-Italic.ttf') format('truetype'),
    local(※);
}

@font-face{
	font-family:'CerebriSansProT';
	src:url('font/CerebriSansPro-Thin.otf') format('opentype'),
    url('font/CerebriSansPro-Thin.ttf') format('truetype'),
    local(※);
}

@font-face{
	font-family:'CerebriSansProTI';
	src:url('font/CerebriSansPro-ThinItalic.otf') format('opentype'),
    url('font/CerebriSansPro-ThinItalic.ttf') format('truetype'),
    local(※);
}

@font-face{
	font-family:'CerebriSansProL';
	src:url('font/CerebriSansPro-Light.otf') format('opentype'),
    url('font/CerebriSansPro-Light.ttf') format('truetype'),
    local(※);
}

@font-face{
	font-family:'CerebriSansProLI';
	src:url('font/CerebriSansPro-LightItalic.otf') format('opentype'),
    url('font/CerebriSansPro-LightItalic.ttf') format('truetype'),
    local(※);
}

@font-face{
	font-family:'CerebriSansProR';
	src:url('font/CerebriSansPro-Regular.otf') format('opentype'),
    url('font/CerebriSansPro-Regular.ttf') format('truetype'),
    local(※);
}

@font-face{
	font-family:'CerebriSansProM';
	src:url('font/CerebriSansPro-Medium.otf') format('opentype'),
    url('font/CerebriSansPro-Medium.ttf') format('truetype'),
    local(※);
}

@font-face{
	font-family:'CerebriSansProMI';
	src:url('font/CerebriSansPro-MediumItalic.otf') format('opentype'),
    url('font/CerebriSansPro-MediumItalic.ttf') format('truetype'),
    local(※);
}

@font-face{
	font-family:'CerebriSansProSB';
	src:url('font/CerebriSansPro-SemiBold.otf') format('opentype'),
    url('font/CerebriSansPro-SemiBold.ttf') format('truetype'),
    local(※);
}

@font-face{
	font-family:'CerebriSansProSBI';
	src:url('font/CerebriSansPro-SemiBoldItalic.otf') format('opentype'),
    url('font/CerebriSansPro-SemiBoldItalic.ttf') format('truetype'),
    local(※);
}

@font-face{
	font-family:'CerebriSansProB';
	src:url('font/CerebriSansPro-Bold.otf') format('opentype'),
    url('font/CerebriSansPro-Bold.ttf') format('truetype'),
    local(※);
}

@font-face{
	font-family:'CerebriSansProBI';
	src:url('font/CerebriSansPro-BoldItalic.otf') format('opentype'),
    url('font/CerebriSansPro-BoldItalic.ttf') format('truetype'),
    local(※);
}

@font-face{
	font-family:'CerebriSansProEL';
	src:url('font/CerebriSansPro-ExtraLight.otf') format('opentype'),
    url('font/CerebriSansPro-ExtraLight.ttf') format('truetype'),
    local(※);
}

@font-face{
	font-family:'CerebriSansProELI';
	src:url('font/CerebriSansPro-ExtraLightItalic.otf') format('opentype'),
    url('font/CerebriSansPro-ExtraLightItalic.ttf') format('truetype'),
    local(※);
}

@font-face{
	font-family:'CerebriSansProEB';
	src:url('font/CerebriSansPro-ExtraBold.otf') format('opentype'),
    url('font/CerebriSansPro-ExtraBold.ttf') format('truetype'),
    local(※);
}

@font-face{
	font-family:'CerebriSansProEBI';
	src:url('font/CerebriSansPro-ExtraBoldItalic.otf') format('opentype'),
    url('font/CerebriSansPro-ExtraBoldItalic.ttf') format('truetype'),
    local(※);
}

@font-face{
	font-family:'CerebriSansProH';
	src:url('font/CerebriSansPro-Heavy.otf') format('opentype'),
    url('font/CerebriSansPro-Heavy.ttf') format('truetype'),
    local(※);
}

@font-face{
	font-family:'CerebriSansProHI';
	src:url('font/CerebriSansPro-HeavyItalic.otf') format('opentype'),
    url('font/CerebriSansPro-HeavyItalic.ttf') format('truetype'),
    local(※);
}